<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chyaazurefunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6687e916-1640-4d52-8c9b-9b6728ba394d/resourceGroups/CHYA_AZURE_FUNC/providers/Microsoft.Web/sites/ChyaAzureFunc</ResourceId>
    <UserName>$ChyaAzureFunc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://chyaazurefunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>